
.home{
    height: auto;
    width: 100%;
    padding: 10vh 1vw;
     display: grid;
    grid-template-columns: repeat(4,1fr); 
}
body::-webkit-scrollbar{
    display: none;
}

.homeCard{
    width: 90%;
    height: auto;
    background-color: #f7f7f7;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 3px 3px 5px #666565, 0px 0px 0px #ffffff;
    margin: 2vh 0;
}

.homeCard:hover {
    box-shadow: 4px 4px 6px #3f3e3e, -4px -4px 6px #3f3e3e;
}

.homeCardImage{
    height: 20vh;
    width: 100%;
    object-fit: cover;
}

.homeCardContent{
    height: auto;
}

.homeCardTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeCardTitle{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 5px;
}

.homeCardAuthor{
    font-size: small;
    font-weight: 400;
    font-family: 'Lora', serif;
}
.homeCardTime{
    font-size: 0.75rem;
    font-weight: 200;
    position: relative;
    top: -80px;
    left: 150px;
}

.homeCardDesc{
    font-size: 2vh;
    font-weight: 500;
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.5; /* Adjust line height for readability */
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    color: #444444;
    margin: 1vh;
}

.read--more{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 4vh 0;
}

.read--more button{
    border: #050505 solid 1px;
    border-radius: 5px;
    background-color: rgb(209, 227, 243);
    width: 6vw;
    height: 4vh;
    font-size: 70%;
}

.read--more button:hover{
    background-color: #3e92e0;
    transition: 0.2s ease-in;
}