
.top{
    display: flex;
    background-color: rgb(245, 242, 242);
    height: 6vh;
    width: 100%;
    position: fixed;
    top: 0vh;
}

.topLeft, .topCenter, .topRight{
    width: 25%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topLeft> span{
    font-size: 1.5vw;
}

.topCenter{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
}

.navbarRoutes{
    margin: 2%;
    margin-right: 5vw;
}

.underline{
    font-size: 1vw;
}

.underline:hover{
    border-bottom: 2px solid rgb(44, 100, 163);
    transition: 0.2s ease;
}

.navbarSearch{
    height: 2.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarIcon{
    margin-left: 0.5vw;
    cursor: pointer;
}

.navbarSearchInput{
    height: inherit;
    width: 10vw;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 0.75vw;
}

.navbarSearchInput:hover{
    border: 2px solid black;
    border-radius: 8px;
}


.navbarSearchResults{
    background-color: rgb(43, 140, 224);
    font-size: small;
    font-weight: 400;
    cursor: pointer;
    width: inherit;
    display: flex;
    height: 3vh;
    align-items: center;
    justify-content: flex-start;
}

.navbarSearchResultsBox{
    width: 10vw;
    height: auto;
    left: 55.8vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5vh;
}

.topRight> span{
    margin: 5px;
}

.navbarImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

