
.post--page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 10vh;
}

.post--top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35vh;
    width: 100%;
}

.icon--box{
    width: 32vw;
    height: 100%;
}

.control--icon{
    cursor: pointer;
    color: lightsalmon;
    margin-left: 0.5vw;
}

.image{
    height: auto;
    width: 35vw;
    max-height: 35vh;
    object-fit: cover;
}

.post--mid{
    width: 100%;
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px dotted black;
}

.title{
    font-size: 2vw;
    height: auto;
    margin: 1vh;
    font-weight: 900;
}

.author{
    font-size: 1.5vw;
    height: auto;
    margin: 1vh;
    font-weight: 100;
    font-style: italic;
}

.time{
    font-size: 0.8vw;
    height: auto;
    font-weight: 400;
}

.post--bottom{
    height: auto;
    width: 100%;
    padding: 3vw;
}

.text{
    font-size: 1vw;
    font-weight: 500;
    line-height: 1.4;
}

.text::first-letter {
    font-size: 2.6vw;
  }