.profile{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5vw;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.profileTop{
    width: 60vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileCard{
    width: 60%;
    height: 25vh;
    background-color: rgb(243, 243, 248);
    display: flex;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 2vw;
    padding: 1vw;
}

.profile--image--div{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePic{
    width: 60%;
    height: 70%;
    border-radius: 5vw;
    object-fit: cover;
}

.profileDesc{
    width: 45%;
    height: 100%;
}

.profileName, .profileBlogs, .profilePopularity {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.profileName{
    font-size: 2vw;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 2vh;
}

.profileBlogs, .profilePopularity, .profileFollowers{
    font-size: 0.75vw;
    font-weight: 400;
}

.profile--card--button{
    width: 4vw;
    height: auto;
    padding: 0.5vw;
}

.profile--card--button button{
    border-radius: 0.5vw;
    height: auto;
    width: auto;
    padding: 0.55vw;
    background-color: #00A3FF;
    color: white;
    font-size: 0.75vw;
}

.profile--card--button button:hover{
    background-color: #0675b6;
    transition: 0.3s ease-in;
}

.profileBottom{
    width: 100%;
    margin-top: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vw 0;
}

.profileTime{
    position: relative;
    top: -65px;
    left: 110px;
    font-size: 0.7rem;
    font-weight: 400;
}


.profilePost{
    width: 90%;
    height: auto;
    background-color: #f7f7f7;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 3px 3px 5px #666565, 0px 0px 0px #ffffff;
}

.profilePost:hover {
    box-shadow: 4px 4px 6px #3f3e3e, -4px -4px 6px #3f3e3e;
}


.profilePostImage{
    height: 20vh;
    width: 100%;
    object-fit: cover;
}

.profilePostContent{
    height: 100%;
}

.profilePostTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.profilePostTitle{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 2vh;
}

.profilePostAuthor{
    font-size: 1.2vh;
    font-weight: 400;
    font-style: italic;
}

.profilePostDesc{
    font-size: 0.8vw;
    font-weight: 500;
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.5; /* Adjust line height for readability */
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    color: #444444;
    padding: 0 1vh;
}