.write{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.writeTop{
    margin-top: 10vh;
}

.writeTop > h1{
    font-size: 500;
    font-weight: 900;
}

.writeBottom{
    height: 70vh;
    width: 80%;
}

.writeBottom > form{
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 0px;
}

.writeTitle{
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    border-radius: 5px;
    font-size: larger;
}

.writeTitle:hover{
    border: 1px solid rgb(36, 35, 35);
}
.writeArea{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    background-color: aliceblue;
    border-radius: 5px;
}

.writeArea:hover{
    border: 1px solid rgb(0, 0, 0);
}


.writeFile{
    margin-top: 30px;
    background-color: aliceblue;
}

.writePost{
    background-color: rgb(67, 141, 206);
    height: 50px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 5px;
}

.writePost:hover{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(134, 185, 148);
}

.writeCancel{
    position: relative;
    top: -124px;
    left: 105px;
}

.writeCancel:hover{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(211, 102, 102);
}